@use "@/index.scss" as v;

.wrapper {
    display: flex;
    flex-direction: column;
    background-color: v.$active-color;
    padding: 2.5rem 2.1rem 1.5rem;
    border-radius: 3rem;
    gap: 2rem;
    transition: v.$transition-time;
    max-width: 32rem;
    width: 100%;
    align-self: center;

    .value {
        font-weight: 700;
        font-size: 3.2rem;
        text-align: center;
        line-height: 1.3;

        min-width: 0;
        display: block;
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
    }

    .button {
        background-color: transparent;
        padding: .3rem 0;
        font-size: 2.8rem;
        font-weight: 600;
        border-radius: 6.5rem;
        border: .2rem solid;
        width: 100%;
        cursor: pointer;
        transition: v.$transition-time;

        &:active {
            transform: scale(0.94);
        }

        &.button_edit {
            color: v.$neutral-button-color;
            border-color: v.$neutral-button-color;

            &:hover {
                color: v.$text-color-2;
                background-color: v.$neutral-button-color;
            }
        }

        &.button_confirm {
            color: v.$positive-button-color;
            border-color: v.$positive-button-color;

            &:hover {
                color: v.$text-color-2;
                background-color: v.$positive-button-color;
            }
        }
    }
}

@media (min-width: 400px) {
    .wrapper {
        width: 80%;
    }
}

@media (min-width: 450px) {
    .wrapper {
        padding-top: 3.5rem;
        width: 75%;
        gap: 3rem;
        max-width: 45rem;

        .value {
            line-height: 1.48;
        }

        .button {
            font-size: 3.2rem;
            border-radius: 7rem;
        }
    }
}

@media (min-width: 600px) {
    .wrapper {
        padding: 4rem 3.1rem 3rem;
        width: 100%;

        .value {
            width: 100%;
            font-size: 4rem;
            line-height: 1.18;
        }

        .button {
            font-size: 4rem;
        }
    }
}

@media (min-width: 680px) {
    .wrapper {
        max-width: 68rem;
        border-radius: 5rem;

        .value {
            font-size: 4.8rem;
            line-height: 1.18;
        }

        .button {
            border-radius: 8rem;
            font-size: 4.8rem;
        }
    }
}

@media (min-width: 800px) {
    .wrapper {
        flex-direction: row;
        max-width: 80rem;
        border-radius: 6rem;
        gap: 2rem;

        .value {
            flex-basis: 65%;
            font-size: 4rem;
        }

        .input {
            flex-basis: 65%;
        }

        .button {
            flex-basis: 35%;
            border-radius: 8rem;
            font-size: 2.6rem;
        }
    }
}

@media (min-width: 1000px) {
    .wrapper {
        max-width: unset;
        border-radius: 6rem;
        gap: 3.5rem;

        .value {
            font-size: 4.8rem;
        }

        .button {
            font-size: 3.2rem;
        }
    }
}

@media (min-width: 1100px) {
    .wrapper {
        .value {
            flex-basis: 70%;
        }

        .input {
            flex-basis: 70%;
        }

        .button {
            flex-basis: 30%;
        }
    }
}

@media (min-width: 1400px) {
    .wrapper {
        padding: 5rem 3rem 4rem;
        gap: 2rem;

        .value {
            flex-basis: 65%;
        }

        .input {
            flex-basis: 65%;
        }

        .button {
            flex-basis: 35%;
            font-size: 4rem;
        }
    }
}

@media (min-width: 1600px) {
    .wrapper {
        gap: 2.5rem;

        .value {
            flex-basis: 65%;
        }

        .button {
            font-size: 4rem;
        }
    }
}

@media (min-width: 2100px) {
    .wrapper {
        padding: 6rem 4rem 5rem;
        gap: 3.5rem;

        .value {
            font-size: 6.4rem;
        }

        .button {
            font-size: 5.4rem;
        }
    }
}
