@use "@/index.scss" as v;

.footer {
    padding: 0 2rem;
    background-color: #1B3176;
    box-shadow: .2rem .4rem 2rem .8rem rgba(0, 0, 0, .2);

    .footer_inner {
        padding-bottom: 2.1rem;

        .title {
            text-align: center;
            font-size: 2rem;
            font-weight: 200;
        }

        .sections {
            display: flex;
            justify-content: space-between;

            .section {
                .title {
                    font-size: 1.6rem;
                }

                .items {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    column-gap: 1.8rem;
                    row-gap: 2.1rem;
                    margin-top: 1.4rem;

                    .item {
                        width: 2.5rem;
                        height: 2.5rem;
                        transition: v.$transition-time;

                        &:hover {
                            transform: scale(1.1);
                            filter: drop-shadow(0 0 1.5rem v.$active-color);
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 420px) {
    .footer {
        .footer_inner {
            padding-bottom: 2.1rem;

            .title {
                font-size: 2.4rem;
            }

            .sections {
                .section {
                    .title {
                        font-size: 2rem;
                    }

                    .items {
                        column-gap: 1.8rem;
                        row-gap: 2.1rem;
                        margin-top: 1.4rem;

                        .item {
                            width: 3rem;
                            height: 3rem;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 550px) {
    .footer {
        .footer_inner {
            padding-bottom: 2.1rem;

            .title {
                font-size: 3rem;
            }

            .sections {
                justify-content: space-around;

                .section {
                    .title {
                        font-size: 2.4rem;
                    }

                    .items {
                        column-gap: 1.8rem;
                        row-gap: 2.1rem;
                        margin-top: 1.4rem;

                        .item {
                            width: 3.6rem;
                            height: 3.6rem;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 900px) {
    .footer {
        background-color: transparent;
        height: 16rem;
        box-shadow: none;

        .footer_inner {
            background-color: #1B3176;
            border-top-left-radius: 9rem;
            border-top-right-radius: 9rem;
            padding-bottom: 2.1rem;
            box-shadow: .2rem .4rem 2rem .8rem rgba(0, 0, 0, .2);

            .title {
                font-size: 3.6rem;
                line-height: 1.15;
            }

            .sections {
                justify-content: space-around;

                .section {
                    .title {
                        font-size: 3.2rem;
                        line-height: unset;
                    }

                    .items {
                        column-gap: 1.8rem;
                        display: flex;
                        row-gap: 0;
                        margin-top: 0;

                        .item {
                            width: 5rem;
                            height: 5rem;
                        }
                    }
                }
            }
        }
    }
}
