@use "@/index.scss" as v;

.task {
    padding: .8rem 1.8rem 1.5rem;
    background-color: v.$active-color;
    border-radius: 3rem;

    .task_top {
        .title {
            font-size: 2.4rem;
            font-weight: 400;
            text-align: center;
            word-break: break-all;
        }

        .creator {
            font-size: 2rem;
            text-align: center;
            margin-top: .5rem;
        }
    }

    .description {
        margin-top: .9rem;
        font-size: 1.6rem;
        text-align: justify;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        margin-top: 1.6rem;
        gap: 1rem;

        .button {
            padding: .7rem 0;
            background-color: transparent;
            border-radius: 2rem;
            font-size: 2rem;
            border: .2rem solid;
            transition: v.$transition-time;
            cursor: pointer;
            font-weight: 600;

            &:active {
                transform: scale(0.94);
            }

            &.status_button {
                border-color: v.$positive-button-color;
                color: v.$positive-button-color;

                &:hover {
                    background-color: v.$positive-button-color;
                    color: v.$text-color-2;
                }
            }

            &.status_button_completed {
                border-color: v.$positive-button-color;
                background-color: v.$positive-button-color;
                color: v.$positive-button-color-text-active;

                &:hover {
                    color: v.$text-color-2;
                }
            }
        }

        .buttons_right {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .button {
                &.edit_button {
                    border-color: v.$neutral-button-color;
                    color: v.$neutral-button-color;

                    &:hover {
                        background-color: v.$neutral-button-color;
                        color: v.$text-color-2;
                    }
                }

                &.delete_button {
                    border-color: v.$negative-button-color;
                    color: v.$negative-button-color;

                    &:hover {
                        background-color: v.$negative-button-color;
                        color: v.$text-color-2;
                    }
                }
            }
        }
    }
}

@media (min-width: 360px) {
    .task {
        .task_top {
            .creator {
                font-size: 2.2rem;
            }
        }

        .description {
            font-size: 2rem;
        }

        .buttons {
            .button {
                font-size: 2.4rem;
                border-radius: 2.8rem;
            }
        }
    }
}

@media (min-width: 400px) {
    .task {
        border-radius: 3.6rem;

        .buttons {
            width: 70%;
            margin: 1.6rem auto 0;
        }
    }
}

@media (min-width: 500px) {
    .task {
        padding: 1.5rem 2.5rem 2rem;

        .task_top {
            .title {
                font-size: 3rem;
            }

            .creator {
                font-size: 2.8rem;
            }
        }

        .description {
            font-size: 2.4rem;
        }

        .buttons {
            margin-top: 2.5rem;

            .button {
                font-size: 2.8rem;
            }
        }
    }
}

@media (min-width: 700px) {
    .task {
        .task_top {
            .title {
                font-size: 3.6rem;
            }

            .creator {
                font-size: 3.2rem;
            }
        }

        .description {
            font-size: 2.8rem;
        }

        .buttons {
            width: 55%;

            .button {

            }
        }
    }
}

@media (min-width: 800px) {
    .task {
        .buttons {
            width: 100%;
            margin-top: 2rem;
            gap: 0;
            flex-direction: row;

            .button {
                width: 21rem;
            }

            .buttons_right {
                margin-left: auto;
                flex-direction: row;

                .button {
                    width: 18rem;
                }
            }
        }
    }
}

@media (min-width: 1000px) {
    .task {
        .task_top {
            display: flex;
            flex-direction: row;

            .title {
                font-size: 2.6rem;
            }

            .creator {
                margin-top: 0;
                font-size: 2.6rem;
                margin-left: auto;
            }
        }

        .description {
            font-size: 2.2rem;
        }

        .buttons {
            .button {
                width: 24rem;
            }

            .buttons_right {
                gap: 2rem;

                .button {
                    width: 24rem;
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    .task {
        .task_top {
            .title {
                font-size: 3.2rem;
            }

            .creator {
                font-size: 3.2rem;
            }
        }

        .description {
            font-size: 2.6rem;
        }

        .buttons {
            .button {
                border-radius: 4rem;
                width: 24rem;
                font-size: 2.8rem;
            }

            .buttons_right {
                gap: 2rem;

                .button {
                    width: 24rem;
                }
            }
        }
    }
}

@media (min-width: 1400px) {
    .task {
        .task_top {
            .title {
                font-size: 3.6rem;
            }

            .creator {
                font-size: 3.6rem;
            }
        }

        .description {
            font-size: 3rem;
        }

        .buttons {
            .button {
                width: 27rem;
                font-size: 3.2rem;
            }

            .buttons_right {
                gap: 2rem;

                .button {
                    width: 27rem;
                }
            }
        }
    }
}

@media (min-width: 1800px) {
    .task {
        padding: 1rem 3.2rem 2.1rem;
        border-radius: 4rem;

        .task_top {
            .title {
                font-size: 4rem;
            }

            .creator {
                font-size: 4rem;
            }
        }

        .description {
            font-size: 3.2rem;
        }

        .buttons {
            .button {
                width: 31rem;
                font-size: 3.6rem;
                padding-top: 1.2rem;
                padding-bottom: 1.2rem;
            }

            .buttons_right {
                gap: 2rem;

                .button {
                    width: 31rem;
                }
            }
        }
    }
}

@media (min-width: 1900px) {
    .task {
        .task_top {
            .title {
                font-size: 4.8rem;
            }

            .creator {
                font-size: 4.8rem;
            }
        }

        .description {
            font-size: 3.6rem;
        }

        .buttons {
            .button {
                width: 35rem;
                font-size: 4rem;
                padding-top: 1.2rem;
                padding-bottom: 1.2rem;
            }

            .buttons_right {
                gap: 2rem;

                .button {
                    width: 35rem;
                }
            }
        }
    }
}
