@use "@/index.scss" as v;

.tasksInner {
    margin-top: 4rem;
    margin-bottom: 4rem;

    .top_wrapper {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;

        .title {
            background-color: v.$active-color;
            color: v.$text-color;
            font-size: 3.2rem;
            font-weight: 700;
            padding: 1.1rem 0;
            text-align: center;
            border-radius: 3rem;
        }
    }

    .list_empty_title {
        margin-top: 2rem;
        justify-self: center;
        background-color: v.$active-color;
        color: v.$text-color;
        font-size: 2.4rem;
        font-weight: 700;
        padding: 1.1rem 3rem;
        text-align: center;
        border-radius: 3rem;
        animation: flashing 1s infinite;
    }
}

@keyframes flashing {
    0% {
        background-color: v.$active-color;
    }

    50% {
        background-color: #1B3176;
    }

    100% {
        background-color: v.$active-color;
    }
}

@media (min-width: 360px) {
    .tasksInner {
        .top_wrapper {
            .title {
                font-size: 4rem;
                border-radius: 6rem;
            }
        }
    }
}

@media (min-width: 500px) {
    .tasksInner {
        .top_wrapper {
            .title {
                margin: 0 auto;
                width: 85%;
            }
        }

        .list_empty_title {
            font-size: 3.2rem;
        }
    }
}

@media (min-width: 600px) {
    .tasksInner {
        .top_wrapper {
            .title {
                font-size: 4.8rem;
                width: 75%;
            }
        }
    }
}

@media (min-width: 800px) {
    .tasksInner {
        .top_wrapper {
            .title {
                font-size: 5rem;
                width: 70%;
            }
        }
    }
}

@media (min-width: 1000px) {
    .tasksInner {
        .top_wrapper {
            position: relative;

            .title {
                padding: .7rem 5.5rem;
                font-size: 4rem;
                width: auto;
            }
        }

        .list_empty_title {
            font-size: 4rem;
        }
    }
}

@media (min-width: 1200px) {
    .tasksInner {
        margin-top: 5rem;
        margin-bottom: 5rem;

        .top_wrapper {
            position: relative;

            .title {
                font-size: 4.8rem;
            }
        }
    }
}

@media (min-width: 1400px) {
    .tasksInner {
        .top_wrapper {
            position: relative;

            .title {
                font-size: 5.4rem;
            }
        }

        .list_empty_title {
            font-size: 4.8rem;
        }
    }
}

@media (min-width: 1900px) {
    .tasksInner {
        .top_wrapper {
            position: relative;

            .title {
                font-size: 6.6rem;
            }
        }
    }
}

@media (min-width: 2100px) {
    .tasksInner {
        .list_empty_title {
            font-size: 6rem;
        }
    }
}
