@use "@/index.scss" as v;

.form {
    display: flex;
    flex-direction: column;
    background-color: v.$active-color;
    border-radius: 3rem;
    padding: 0 1rem 1.5rem;
    box-shadow: .2rem .4rem 2rem .8rem rgba(0, 0, 0, .25);

    .title {
        font-size: 3.6rem;
        font-weight: 600;
        text-align: center;
    }

    .inputs {
        display: flex;
        flex-direction: column;
        margin-top: 3rem;
        gap: 3rem;

        .error {
            border-color: red;

            &:focus {
                border-color: red;
                box-shadow: 0 0 0 .1rem red;
            }
        }
    }

    .submit {
        margin-top: 3.6rem;

        &.error {
            animation: error_submit v.$transition-time linear;
        }
    }
}

@keyframes error_submit {
    0% {
        background-color: red;
        color: v.$text-color;
    }

    100% {
        background-color: v.$special-button-color;
        color: v.$text-color-2;
    }
}

@media (min-width: 400px) {
    .form {
        padding: 0 2rem 2rem;

        .title {
            font-size: 4.2rem;
        }
    }
}

@media (min-width: 450px) {
    .form {
        .inputs {
            margin-top: 3rem;
            gap: 4rem;
        }
    }
}

@media (min-width: 550px) {
    .form {
        border-radius: 5rem;
        padding: 0 2rem 2rem;

        .title {
            font-size: 4.8rem;
        }

        .submit {
            width: 50%;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

@media (min-width: 650px) {
    .form {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 900px) {
    .form {
        width: 60%;
        padding: 0 4rem 4rem;

        .title {
            font-size: 5.4rem;
        }

        .inputs {
            gap: 4.5rem;
        }
    }
}

@media (min-width: 1400px) {
    .form {
        width: 50%;
        padding: 0 4rem 6rem;
        border-radius: 7rem;

        .title {
            font-size: 6rem;
        }

        .inputs {
            margin-top: 6rem;
            gap: 6.3rem;
        }

        .submit {
            margin-top: 6rem;
        }
    }
}

@media (min-width: 1900px) {
    .form {
        padding: 0 6rem 6rem;

        .title {
            font-size: 7.2rem;
        }

        .submit {
            margin-top: 7.2rem;
        }
    }
}

@media (min-width: 2100px) {
    .form {
        width: 45%;
        padding: 0 9.6rem 9.6rem;
        border-radius: 10rem;

        .title {
            font-size: 9.6rem;
        }

        .inputs {
            margin-top: 6rem;
            gap: 9rem;
        }

        .submit {
            margin-top: 7.2rem;
        }
    }
}
