@use "@/index.scss" as v;

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: v.$active-color;
    padding: 2.5rem 2.1rem 1.5rem;
    border-radius: 3rem;
    gap: 2rem;
    transition: v.$transition-time;
    width: 100%;
    align-self: center;
    margin-bottom: 4rem;
    max-width: 32rem;

    .fields_password {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    .button {
        margin-top: 1rem;
        background-color: transparent;
        padding: .3rem 0;
        font-size: 2.8rem;
        font-weight: 600;
        border-radius: 6.5rem;
        border: .2rem solid v.$positive-button-color;
        color: v.$positive-button-color;
        width: 100%;
        cursor: pointer;
        transition: v.$transition-time;

        &:hover {
            color: v.$text-color-2;
            background-color: v.$positive-button-color;
        }

        &:active {
            transform: scale(0.94);
        }
    }

    .success_text {
        opacity: 0;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -3rem;
        color: #03cd4f;
        font-size: 1.8rem;
        white-space: nowrap;
        transition: v.$transition-time;
        user-select: none;
        pointer-events: none;

        &.show {
            opacity: 1;
            user-select: auto;
            pointer-events: auto;
        }
    }
}

@media (min-width: 400px) {
    .wrapper {
        width: 80%;
    }
}

@media (min-width: 450px) {
    .wrapper {
        padding-top: 3.5rem;
        width: 75%;
        gap: 2rem;
        max-width: 45rem;

        .fields_password {
            gap: 4rem;
        }

        .button {
            font-size: 3.2rem;
            border-radius: 7rem;
        }
    }
}

@media (min-width: 600px) {
    .wrapper {
        padding: 4rem 3.1rem 2rem;
        width: 100%;
        margin-bottom: 4.5rem;

        .button {
            font-size: 4rem;
        }

        .success_text {
            font-size: 2.4rem;
            bottom: -3.5rem;
        }
    }
}

@media (min-width: 680px) {
    .wrapper {
        max-width: 68rem;
        border-radius: 5rem;

        .button {
            border-radius: 8rem;
            font-size: 4.8rem;
        }
    }
}

@media (min-width: 800px) {
    .wrapper {
        padding: 3.5rem 2.6rem 3rem 3.1rem;
        flex-direction: row;
        max-width: 80rem;
        border-radius: 6rem;
        gap: 2rem;

        .fields_password {
            flex-basis: 65%;
        }

        .button {
            margin-top: 0;
            align-self: center;
            flex-basis: 35%;
            border-radius: 8rem;
            font-size: 2.6rem;
        }
    }
}

@media (min-width: 900px) {
    .wrapper {
        .fields_password {
            gap: 4.5rem;
        }
    }
}

@media (min-width: 1000px) {
    .wrapper {
        max-width: unset;
        border-radius: 6rem;
        gap: 3.5rem;

        .button {
            font-size: 3.2rem;
        }
    }
}

@media (min-width: 1100px) {
    .wrapper {
        .fields_password {
            flex-basis: 70%;
        }

        .button {
            flex-basis: 30%;
        }
    }
}

@media (min-width: 1400px) {
    .wrapper {
        padding: 5rem 3rem 4rem;
        gap: 2rem;
        margin-bottom: 5.5rem;

        .fields_password {
            flex-basis: 65%;
            gap: 6.3rem;
        }

        .button {
            flex-basis: 35%;
            font-size: 4rem;
        }

        .success_text {
            font-size: 3.2rem;
            bottom: -4.5rem;
        }
    }
}

@media (min-width: 1600px) {
    .wrapper {
        gap: 2.5rem;

        .button {
            font-size: 4rem;
        }
    }
}

@media (min-width: 2100px) {
    .wrapper {
        padding: 7rem 4rem 5.5rem;
        gap: 3.5rem;
        margin-bottom: 6.5rem;

        .fields_password {
            gap: 9rem;
        }

        .button {
            font-size: 5.4rem;
        }

        .success_text {
            font-size: 4rem;
            bottom: -5.5rem;
        }
    }
}
