@use "@/index.scss" as v;

.profile {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;

    .profile_inner {
        display: flex;
        flex-direction: column;
        align-items: center;

        .title {
            background-color: v.$active-color;
            font-size: 2.4rem;
            font-weight: 700;
            padding: 1.2rem 1.7rem;
            border-radius: 6rem;
            text-align: center;
            line-height: 1.2;
        }

        .user_icon_wrapper {
            display: flex;
            margin-top: 2.5rem;
            background-color: v.$active-color;
            padding: 1.6rem 1.8rem;
            width: 86.8%;
            border-radius: 7rem;
            max-width: 29rem;
            max-height: 29rem;

            .user_icon {
                width: 100%;
            }
        }

        .fields {
            width: 100%;
            margin-top: 2.5rem;
            display: flex;
            flex-direction: column;
            gap: 1.7rem;
        }

        .logout_wrapper {
            background-color: v.$active-color;
            padding: 2rem 2rem;
            border-radius: 3rem;
            align-self: center;
            width: 100%;
            max-width: 32rem;
            transition: v.$transition-time;

            .delete_button {
                color: v.$negative-button-color;
                width: 100%;
                padding: .7rem 0;
                background-color: transparent;
                border-radius: 2rem;
                font-size: 2.4rem;
                border: .2rem solid v.$negative-button-color;
                transition: v.$transition-time;
                cursor: pointer;
                font-weight: 600;

                &:active {
                    transform: scale(0.94);
                }

                &:hover {
                    background-color: v.$negative-button-color;
                    color: v.$text-color-2;
                }
            }
        }
    }
}

@media (min-width: 400px) {
    .profile {
        .profile_inner {
            .logout_wrapper {
                width: 80%;
            }
        }
    }
}

@media (min-width: 450px) {
    .profile {
        .profile_inner {
            .title {
                font-size: 2.8rem;
                width: 90%;
            }

            .logout_wrapper {
                width: 75%;
                max-width: 45rem;

                .delete_button {
                    border-radius: 7rem;
                    font-size: 3.2rem;
                }
            }
        }
    }
}

@media (min-width: 600px) {
    .profile {
        .profile_inner {
            max-width: 75%;
            margin: 0 auto;

            .title {
                font-size: 3.2rem;
                width: 100%;
            }

            .logout_wrapper {
                width: 100%;
                padding: 3rem 3.1rem;

                .delete_button {
                    font-size: 4rem;
                }
            }
        }
    }
}

@media (min-width: 680px) {
    .profile {
        .profile_inner {
            .title {
                font-size: 4rem;
            }

            .logout_wrapper {
                max-width: 68rem;
                border-radius: 5rem;

                .delete_button {
                    font-size: 4.8rem;
                    border-radius: 8rem;
                }
            }
        }
    }
}

@media (min-width: 800px) {
    .profile {
        .profile_inner {
            max-width: 90%;

            .title {
                font-size: 4.8rem;
            }

            .logout_wrapper {
                display: flex;
                justify-content: center;
                max-width: unset;
                border-radius: 5rem;

                .delete_button {
                    max-width: 40rem;
                    font-size: 4.8rem;
                    border-radius: 8rem;
                }
            }
        }
    }
}

@media (min-width: 900px) {
    .profile {
        .profile_inner {
            max-width: 75%;
        }
    }
}

@media (min-width: 1200px) {
    .profile {
        .profile_inner {
            max-width: 65%;
        }
    }
}

@media (min-width: 1600px) {
    .profile {
        .profile_inner {
            max-width: 60%;

            .title {
                font-size: 5.4rem;
            }
        }
    }
}

@media (min-width: 1900px) {
    .profile {
        .profile_inner {
            max-width: 55%;
        }
    }
}

@media (min-width: 2100px) {
    .profile {
        .profile_inner {
            .title {
                font-size: 9.6rem;
                border-radius: 7.2rem;
                padding: 1rem 6.4rem;
            }
        }
    }
}
