@use "@/index.scss" as v;

.enter_wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .enter_button {
        padding: .5rem .5rem;
        font-size: 1.2rem;
        border-radius: 1rem;
        border: .2rem solid v.$text-color;
        transition: v.$transition-time;
    }
}

@media (min-width: 420px) {
    .enter_wrapper {
        .enter_button {
            margin-right: 2rem;
            padding: .5rem 1rem;
            font-size: 1.4rem;
            border-radius: 1rem;
            border: .2rem solid v.$text-color;
        }
    }
}

@media (min-width: 550px) {
    .enter_wrapper {
        .enter_button {
            margin-right: 2rem;
            font-size: 2rem;
            border-radius: 1rem;
            border: .2rem solid v.$text-color;
        }
    }
}

@media (min-width: 900px) {
    .enter_wrapper {
        .enter_button {
            margin-right: 0;
            font-size: 2.4rem;
            border-radius: 1rem;
            border: .2rem solid v.$text-color;
        }
    }
}
