@use "@/index.scss" as v;

.button {
    background-color: v.$special-button-color;
    color: v.$text-color-2;
    text-align: center;
    border: 0;
    font-size: 2.4rem;
    padding: 1.3rem 0;
    font-weight: 400;
    border-radius: 4rem;
    transition: v.$transition-time;
    cursor: pointer;

    &:hover {
        background-color: v.$special-button-color-hover;
    }

    &:active {
        background-color: v.$special-button-color-active;
        color: v.$text-color;
        transform: scale(0.96);
    }
}

@media (min-width: 360px) {
    .button {
        font-size: 3rem;
        border-radius: 6rem;
    }
}

@media (min-width: 500px) {
    .button {
        width: 70%;
        margin: 0 auto;
    }
}

@media (min-width: 600px) {
    .button {
        width: 60%;
        font-size: 3.4rem;
    }
}

@media (min-width: 800px) {
    .button {
        width: 50%;
        font-size: 3.6rem;
    }
}

@media (min-width: 1000px) {
    .button {
        position: absolute;
        width: auto;
        font-size: 2.6rem;
        height: 100%;
        right: 0;
        padding: 0 3.2rem;
    }
}

@media (min-width: 1200px) {
    .button {
        font-size: 3.2rem;
    }
}

@media (min-width: 1400px) {
    .button {
        font-size: 3.6rem;
    }
}

@media (min-width: 1400px) {
    .button {
        border-radius: 4rem;
        font-size: 4.2rem;
    }
}
