@use "@/index.scss" as v;

.modal {
    top: 0;
    left: 0;
    border: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1000;
    transition: v.$modal-hiding-time;

    &.show {
        .modal_inner {
            animation: appearing .75s ease;
        }
    }

    &.hide {
        opacity: 0;

        .modal_inner {
            transform: translateY(-25%)
        }
    }

    .modal_inner {
        width: 92.5%;
        margin: 0 auto;
        transition: v.$transition-time ease-in;
    }

    .close_button {
        position: absolute;
        right: 4.1rem;
        top: 4.1rem;
        width: 3.8rem;
        height: 3.8rem;
        background-color: transparent;
        border: 0;

        &::before {
            content: "";
            display: block;
            width: 5rem;
            height: .3rem;
            background-color: v.$bg-color;
            border-radius: 1rem;
            transform: rotate(45deg) translate(.8rem, 1.7rem);;
            transition: v.$transition-time;
        }

        &::after {
            content: "";
            display: block;
            width: .3rem;
            height: 5rem;
            background-color: v.$bg-color;
            border-radius: 1rem;
            transform: rotate(45deg) translate(.7rem, -1.9rem);
            transition: v.$transition-time;
        }

        &:hover {
            &::before {
                background-color: v.$negative-button-color;
            }

            &::after {
                background-color: v.$negative-button-color;
            }
        }
    }
}

@keyframes appearing {
    0% {
        transform: translateY(calc(-50vh - 50%));
    }

    100% {
        transform: translateY(0);
    }
}

@media (min-width: 400px) {
    .modal {
        .modal_inner {
            width: 88.28125%;
        }
    }
}
