$bg-color: #E6E6FA;
$active-color: #4169E1;
$text-color: #E6E6FA;
$text-color-2: #3730A3;
$special-button-color: #0FC9B9;
$special-button-color-hover: #60C90F;
$special-button-color-active: #C3C90F;
$negative-button-color: #FF0408;
$neutral-button-color: #F7FF04;
$positive-button-color: #04FF57;
$positive-button-color-active: #04FF57;
$positive-button-color-text-active: #013220;
$transition-time: 300ms;
$modal-hiding-time: 400ms;

:root {
    --transition-time: #{$transition-time};
    --modal-hiding-time: #{$modal-hiding-time};
}

*, *::before, *::after {
	margin: 0;
	padding: 0;
	font-size: 10px;
	box-sizing: border-box;
    font-family: "Playpen Sans", cursive;
    color: $text-color;
}

body {
    background-color: $bg-color;
}

.container {
    max-width: 92.5%;
    margin: 0 auto;
    height: 100%;
}

@media (min-width: 400px) {
    .container {
        max-width: 88.28125%;
    }
}
