@use "@/index.scss" as v;

.profile_img_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: .1rem solid v.$bg-color;

    .profile_img {
        width: 60%;
        height: 60%;
        -webkit-user-drag: none;
    }
}

@media (min-width: 550px) {
    .profile_img_wrapper {
        border-radius: 1.5rem;
        transition: v.$transition-time;

        .profile_img {
            width: 100%;
            height: 100%;
            padding: 1rem 1.5rem;
        }
    }
}

@media (min-width: 900px) {
    .profile_img_wrapper {
        border-radius: 2rem;
        transition: v.$transition-time;

        .profile_img {
            padding: 1rem 2rem;
        }
    }
}
