@use "@/index.scss" as v;

.submit {
    width: 100%;
    background-color: v.$special-button-color;
    color: v.$text-color-2;
    padding: .6rem 0;
    font-weight: 500;
    font-size: 2.4rem;
    border-radius: 6.5rem;
    border: 0;
    cursor: pointer;
    transition: v.$transition-time;

    &:hover {
        background-color: v.$special-button-color-hover;
    }

    &:active {
        background-color: v.$special-button-color-active;
        color: v.$text-color;
        transform: scale(0.95);
    }
}

@media (min-width: 450px) {
    .submit {
        font-size: 2.8rem;
        border-radius: 6.5rem;
    }
}

@media (min-width: 900px) {
    .submit {
        font-size: 3.6rem;
        border-radius: 9rem;
    }
}

@media (min-width: 1400px) {
    .submit {
        font-size: 4.4rem;
    }
}

@media (min-width: 1900px) {
    .submit {
        font-size: 4.8rem;
    }
}
